CompileFlags:
  CompilationDatabase: /home/stanislav/Projects/STM_bootloader/out/rtos/Nucleo-F411RE/Release
  Add:
    - -include
    - /home/stanislav/Projects/STM_bootloader/out/rtos/Nucleo-F411RE/Release/compile_macros.h
